@model List<SettingVM>

<div class="container">
    <div class="card-body">
        <h2 class="card-title">Settings</h2>

        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Key</th>
                    <th>Value</th>
                    <th>Options</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Id</td>
                        <td>@item.Key</td>
                        <td>@item.Value</td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-secondary">Edit</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>


    </div>
</div>


