@model FreshFruitDetailVM

<div class="container mt-5">
	<h3><strong>Title:</strong></h3>
	<p>@Model.Title</p>

	<h3><strong>Image:</strong></h3>
	<img src="~/assets/images/home-03/@Model.Image" style="width: 300px; height:300px;" />
</div>