@model IEnumerable<FreshFruitVM>

<div class="container">
    <div class="card-body">
        <h4 class="card-title">Banner</h4>
        <a asp-area="Admin" asp-controller="FreshFruit" asp-action="Create" class="btn btn-success">Create</a>

        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>Title</th>                    
                        <th>Image</th>
                        <th>Options</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @item.Title
                            </td>
                            <td>
                                <img src="~/assets/images/home-03/@item.Img" style="width:100px; height:100px; border-radius:0;" />
                            </td>
                            <td>
                                <a asp-action="Detail" asp-route-id="@item.Id" class="btn btn-primary">Detail</a>
                                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-secondary">Edit</a>
                                <form asp-action="Delete" asp-route-id="@item.Id" method="post" class="d-inline">
                                    <button type="submit" class="btn btn-danger">Delete</button>
                                </form>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>

    </div>
</div>
