@model AdvertisementDetailVM

<div class="container mt-5">
    <h3>Background Image:</h3>
    <img src="~/assets/images/home-03/@Model.BackgroundImage" class="d-block mb-3" style="width:300px; height:200px" />

    <h3>First Image:</h3>
    <img src="~/assets/images/home-03/@Model.FirstImage" class="d-block mb-3" style="width:300px; height:200px" />

    <h3>Second Image:</h3>
    <img src="~/assets/images/home-03/@Model.SecondImage" class="d-block mb-3" style="width:300px; height:200px" />

    <h3>Third Image:</h3>
    <img src="~/assets/images/home-03/@Model.ThirdImage" class="d-block mb-3" style="width:300px; height:200px" />

    <h3>Fourth Image:</h3>
    <img src="~/assets/images/home-03/@Model.FourthImage" class="d-block mb-3" style="width:300px; height:200px" />
</div>
