@model BannerDetailVM

<div class="container mt-5">
	<h3><strong>Name:</strong></h3>
	<p>@Model.Name</p>

	<h3><strong>Page:</strong></h3>
	<p>@Model.Page</p>

	<h3><strong>Image:</strong></h3>
	<img src="~/assets/images/@Model.Image" style="width: 500px; height:200px;" />
</div>