@model SliderImageEditVM

<div class="container mt-5">
    <div class="card-body">
        <form class="forms-sample" method="post" asp-action="Edit" asp-route-id="@Model.Id" enctype="multipart/form-data">
            <div class="form-group">
                <img src="~/assets/images/home-03/@Model.ExistingImage" style="width:200px; height:150px;" />
                <input class="form-control" id="exampleInputUsername1" asp-for="UploadImage">
                <span asp-validation-for="UploadImage" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary me-2">Submit</button>
            <a asp-controller="SliderImage" asp-action="Index" class="btn btn-light">Cancel</a>
        </form>
    </div>
</div>