@model SliderImageVM

    <div class="container">
        <div class="card-body">
            <h4 class="card-title">Slider Image</h4>
        @if (Model == null)
        {
            <a asp-area="Admin" asp-controller="SliderImage" asp-action="Create" class="btn btn-success mt-5">Create</a>
        }
        @if (Model != null)
        {
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Image</th>
                            <th>Options</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <img src="~/assets/images/home-03/@Model.BackgroundImage" style="width:400px; height:200px;" />
                            </td>
                            <td>
                                <a asp-action="Detail" asp-route-id="@Model.Id" class="btn btn-primary">Detail</a>
                                <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-secondary">Edit</a>
                                <form asp-action="Delete" asp-route-id="@Model.Id" method="post" class="d-inline">
                                    <button type="submit" class="btn btn-danger">Delete</button>
                                </form>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        }
            

        </div>
    </div>