@model LoginVM

@{ Layout = null; }

<form method="post" asp-action="Login">
    <div class="text-danger" asp-validation-summary="All"></div>
    <label>
        <p class="label-txt">ENTER YOUR USERNAME OR EMAIL</p>
        <input asp-for="EmailOrUsername" class="input" name="EmailOrUsername">
        <div class="line-box">
            <div class="line"></div>
        </div>
        <span asp-validation-for="EmailOrUsername" class="text-danger d-block mt-1" style="text-align:left !important"></span>
    </label>
    <label>
        <p class="label-txt">ENTER YOUR PASSWORD</p>
        <input asp-for="Password" class="input" type="password" name="Password">
        <div class="line-box">
            <div class="line"></div>
        </div>
        <span asp-validation-for="Password" class="text-danger d-block mt-1" style="text-align:left !important"></span>
    </label>
    <button type="submit" class="btn btn-success">Submit</button>
    <p>You don't have an account?</p>
    <a asp-action="Register" class="d-block mt-1">Go to Register</a>
</form>

<style>
    form {
        width: 60%;
        margin: 60px auto;
        background: #efefef;
        padding: 60px 120px 80px 120px;
        text-align: center;
        -webkit-box-shadow: 2px 2px 3px rgba(0,0,0,0.1);
        box-shadow: 2px 2px 3px rgba(0,0,0,0.1);
    }

    label {
        display: block;
        position: relative;
        margin: 40px 0px;
    }

    .label-txt {
        position: absolute;
        top: -1.6em;
        padding: 10px;
        font-family: sans-serif;
        font-size: .8em;
        letter-spacing: 1px;
        color: rgb(120,120,120);
        transition: ease .3s;
    }

    .input {
        width: 100%;
        padding: 10px;
        background: transparent;
        border: none;
        outline: none;
    }

    .line-box {
        position: relative;
        width: 100%;
        height: 2px;
        background: #BCBCBC;
    }

    .line {
        position: absolute;
        width: 0%;
        height: 2px;
        top: 0px;
        left: 50%;
        transform: translateX(-50%);
        background: #8BC34A;
        transition: ease .6s;
    }

    .input:focus + .line-box .line {
        width: 100%;
    }

    .label-active {
        top: -3em;
    }

    button {
        display: inline-block;
        padding: 12px 24px;
        background: rgb(220,220,220);
        font-weight: bold;
        color: rgb(120,120,120);
        border: none;
        outline: none;
        border-radius: 3px;
        cursor: pointer;
        transition: ease .3s;
    }

    button:hover {
        background: #8BC34A;
        color: #ffffff;
    }
</style>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {
        $(".input").each(function () {
            if ($(this).val() !== '') {
                $(this).parent().find(".label-txt").addClass('label-active');
            }
        });

        $('.input').focus(function () {
            $(this).parent().find(".label-txt").addClass('label-active');
        });

        $(".input").focusout(function () {
            if ($(this).val() == '') {
                $(this).parent().find(".label-txt").removeClass('label-active');
            }
        });
    });
</script>
