@model BrandEditVM
<div class="container mt-5">
	<form method="post" asp-action="Edit" enctype="multipart/form-data">
		<div>
			<label for="name">Brand New Name</label>
			<input type="text" id="name" asp-for="NewName" />
			<span asp-validation-for="NewName" class="text-danger d-block mb-2"></span>
		</div>

		<div class="form-group">
			<label>Brand New Image (Leave empty if you don't want to change)</label>
			<input id="name" asp-for="NewImage" />
			<span asp-validation-for="NewImage" class="text-danger d-block mb-2"></span>
		</div>
		<button type="submit" class="btn btn-success">Submit</button>
		<a asp-action="Index" class="btn btn-danger">Cancel</a>
	</form>
</div>